body {
  background-image: url("img/fiveee.png");
  -webkit-transition: background-image 1s ease-out;
  -moz-transition: background-image 1s ease-out;
  -o-transition: background-image 1s ease-out;
  transition: background-image 1s ease-out;
}

#note {
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  background: #38e790;
  text-align: center;
  line-height: 2.5;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow: 0 0 5px black;
  box-shadow: 0 0 5px black;
}
.header {
  position: absolute;
  width: 91vw;
  height: auto;
  display: flex;
  margin-left: 3vw;
  justify-content: space-between;
}
p {
  margin-top: 30px;
  font-family: "Monaco", monospace;
  color: #ffffff;
  font-size: 24px;
  font-weight: 100;
}
h1 {
  margin-top: 15px;
  font-size: 10px;
  font-family: "Monaco", monospace;
  color: #ffffff;
}
/* body styling */
body {
  background: #212121;
  height: 100vh;
  text-align: center;
  padding-top: 25vh;
  overflow: hidden;
}
/* set arrow positioning */
.width-arrow {
  width: 60px;
  height: 82px;
  position: absolute; /* don't forget set container to relative */
  left: 93%;
  margin-left: 0px;
  bottom: 5%;
  z-index: 999;
  transform: rotate(135deg);
  /*   transform: scale(0.5, 0.5); */
}
/* set arrow styles */
.width-arrow path {
  stroke: #ffffff;
  stroke-width: 2px;
  fill: transparent;
  animation: up 2s infinite;
}
/* arrow keyframe animation */
@keyframes up {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* arrow animation delay */
.width-arrow path.a1 {
  animation-delay: -1s;
}
.width-arrow path.a2 {
  animation-delay: -0.5s;
}
.width-arrow path.a3 {
  animation-delay: 0s;
}

.width-arrow text {
  display: none;
}
.width-arrow g:hover text {
  display: block;
}
/* svg {
    width: 6em
  }
  
  svg:hover span {
    display: none
  }
  
  svg:hover:before {
    content: "Reply!"
  }
   */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.wrapper {
  position: absolute;
  float: center;
  /*   margin: 140px 30px; */
  margin-left: 280px;
  margin-top: 200px;
}
.line {
  position: absolute;
  top: 0px;
  width: 2px;
  height: 8px;
}

.circle {
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.circle-top {
  top: 0px;
  left: -3.5px;
}
.circle-bottom {
  bottom: 0px;
  left: -3.5px;
}

.dot {
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  left: -1.5px;
}

@-webkit-keyframes line {
  0% {
    height: 4px;
    top: 0px;
    left: 0px;
    -webkit-transform: rotate(-65deg);
  }
  10% {
    height: 220px;
    top: -110px;
    left: 15px;
  }
  45% {
    height: 200px;
    top: -100px;
    left: 25px;
  }
  70% {
    height: 8px;
    top: 0px;
    left: 25px;
    -webkit-transform: rotate(0deg);
  }
  100% {
    height: 8px;
    top: 0px;
    left: 15px;
    -webkit-transform: rotate(0deg);
  }
}
@-webkit-keyframes dot-top {
  0% {
    top: -30px;
  }
  10% {
    top: -30px;
  }
  45% {
    top: -25px;
  }
  60% {
    top: 0px;
  }
  100% {
    top: 0px;
  }
}
@-webkit-keyframes dot-bottom {
  0% {
    bottom: -30px;
  }
  10% {
    bottom: -30px;
  }
  45% {
    bottom: -25px;
  }
  60% {
    bottom: 0px;
  }
  100% {
    bottom: 0px;
  }
}
@-webkit-keyframes dot-middle-top {
  0% {
  }
  10% {
  }
  45% {
    top: 98px;
  }
  70% {
    top: -50px;
  }
  85% {
    top: 0px;
  }
  100% {
    top: 0px;
  }
}
@-webkit-keyframes dot-middle-bottom {
  0% {
  }
  10% {
  }
  45% {
    bottom: 98px;
  }
  70% {
    bottom: -50px;
  }
  85% {
    bottom: 0px;
  }
  100% {
    bottom: 0px;
  }
}

@keyframes line {
  0% {
    height: 4px;
    top: 0px;
    left: 0px;
    transform: rotate(-65deg);
  }
  10% {
    height: 220px;
    top: -110px;
    left: 15px;
  }
  45% {
    height: 200px;
    top: -100px;
    left: 25px;
  }
  70% {
    height: 8px;
    top: 0px;
    left: 25px;
    transform: rotate(0deg);
  }
  100% {
    height: 8px;
    top: 0px;
    left: 15px;
    transform: rotate(0deg);
  }
}
@keyframes dot-top {
  0% {
    top: -30px;
  }
  10% {
    top: -30px;
  }
  45% {
    top: -25px;
  }
  60% {
    top: 0px;
  }
  100% {
    top: 0px;
  }
}
@keyframes dot-bottom {
  0% {
    bottom: -30px;
  }
  10% {
    bottom: -30px;
  }
  45% {
    bottom: -25px;
  }
  60% {
    bottom: 0px;
  }
  100% {
    bottom: 0px;
  }
}
@keyframes dot-middle-top {
  0% {
  }
  10% {
  }
  45% {
    top: 78px;
  }
  70% {
    top: -50px;
  }
  85% {
    top: 0px;
  }
  100% {
    top: 0px;
  }
}
@keyframes dot-middle-bottom {
  0% {
  }
  10% {
  }
  45% {
    bottom: 78px;
  }
  70% {
    bottom: -50px;
  }
  85% {
    bottom: 0px;
  }
  100% {
    bottom: 0px;
  }
}
@media (min-height: 100px) {
  body {
    background-image: url("img/one.png");
    -webkit-transition: background-image 1s ease-out;
    -moz-transition: background-image 1s ease-out;
    -o-transition: background-image 1s ease-out;
    transition: background-image 1s ease-out;
  }
}
@media (min-height: 200px) {
  body {
    background-image: url("img/spec.png");
    -webkit-transition: background-image 1s ease-out;
    -moz-transition: background-image 1s ease-out;
    -o-transition: background-image 1s ease-out;
    transition: background-image 1s ease-out;
  }
}
@media (min-height: 250px) {
  body {
    background-image: url("img/three.png");
    -webkit-transition: background-image 1s ease-out;
    -moz-transition: background-image 1s ease-out;
    -o-transition: background-image 1s ease-out;
    transition: background-image 1s ease-out;
  }
}
@media (min-height: 300px) {
  body {
    background-image: url("img/two.png");
    -webkit-transition: background-image 1s ease-out;
    -moz-transition: background-image 1s ease-out;
    -o-transition: background-image 1s ease-out;
    transition: background-image 1s ease-out;
  }
}
@media (min-height: 400px) {
  body {
    background-image: url("img/fiveee.png");
    -webkit-transition: background-image 1s ease-out;
    -moz-transition: background-image 1s ease-out;
    -o-transition: background-image 1s ease-out;
    transition: background-image 1s ease-out;
  }
}
@media (min-height: 500px) {
  body {
    background-image: url("img/spec1.png");
    -webkit-transition: background-image 1s ease-out;
    -moz-transition: background-image 1s ease-out;
    -o-transition: background-image 1s ease-out;
    transition: background-image 1s ease-out;
  }
}
@media (min-height: 600px) {
  body {
    background-image: url("img/fourr.png");
    -webkit-transition: background-image 1s ease-out;
    -moz-transition: background-image 1s ease-out;
    -o-transition: background-image 1s ease-out;
    transition: background-image 1s ease-out;
  }
}
@media (min-height: 700px) {
  body {
    background-image: url("img/spec.png");
    -webkit-transition: background-image 1s ease-out;
    -moz-transition: background-image 1s ease-out;
    -o-transition: background-image 1s ease-out;
    transition: background-image 1s ease-out;
  }
}
@media (min-height: 800px) {
  body {
    background-image: url("img/one.png");
    -webkit-transition: background-image 1s ease-out;
    -moz-transition: background-image 1s ease-out;
    -o-transition: background-image 1s ease-out;
    transition: background-image 1s ease-out;
  }
}
@media (min-height: 900px) {
  body {
    background-image: url("img/fiveee.png");
    -webkit-transition: background-image 1s ease-out;
    -moz-transition: background-image 1s ease-out;
    -o-transition: background-image 1s ease-out;
    transition: background-image 1s ease-out;
  }
}

/* @media (max-width: 1550px) { */
.width-arrow {
  visibility: hidden;
}
.line9 {
  margin-left: 540px;
  background-color: #aced29;
  -webkit-animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.4s infinite;
  animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.4s infinite;
}
.line9 > span {
  background-color: #309cdf;
}
.line9 > .dotted > .dot {
  background-color: #309cdf;
}
.line9 > .dotted > .dot-top {
  top: 0px;
  -webkit-animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.4s infinite;
  animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.4s infinite;
}
.line9 > .dotted > .dot-bottom {
  bottom: 0px;
  -webkit-animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.4s infinite;
  animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.4s infinite;
}
.line9 > .dotted > .dot-middle-top {
  top: 0px;
  -webkit-animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.4s
    infinite;
  animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.4s infinite;
}
.line9 > .dotted > .dot-middle-bottom {
  bottom: 0px;
  -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.4s
    infinite;
  animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.4s infinite;
}
.wrapper {
  transform: scale(4, 4);
}
.line8 {
  margin-left: 400px;
  background-color: #38e790;
  -webkit-animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.35s infinite;
  animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.35s infinite;
}
.line8 > span {
  background-color: #852df4;
}
.line8 > .dotted > .dot {
  background-color: #852df4;
}
.line8 > .dotted > .dot-top {
  top: 0px;
  -webkit-animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.35s infinite;
  animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.35s infinite;
}
.line8 > .dotted > .dot-bottom {
  bottom: 0px;
  -webkit-animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.35s
    infinite;
  animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.35s infinite;
}
.line8 > .dotted > .dot-middle-top {
  top: 0px;
  -webkit-animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.35s
    infinite;
  animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.35s infinite;
}
.line8 > .dotted > .dot-middle-bottom {
  bottom: 0px;
  -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.35s
    infinite;
  animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.35s infinite;
}
.wrapper {
  transform: scale(4, 4);
}
.line7 {
  margin-left: 280px;
  background-color: #84ffc9;
  -webkit-animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.3s infinite;
  animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.3s infinite;
}
.line7 > span {
  background-color: #eca0ff;
}
.line7 > .dotted > .dot {
  background-color: #eca0ff;
}
.line7 > .dotted > .dot-top {
  top: 0px;
  -webkit-animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.3s infinite;
  animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.3s infinite;
}
.line7 > .dotted > .dot-bottom {
  bottom: 0px;
  -webkit-animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.3s infinite;
  animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.3s infinite;
}
.line7 > .dotted > .dot-middle-top {
  top: 0px;
  -webkit-animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.3s
    infinite;
  animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.3s infinite;
}
.line7 > .dotted > .dot-middle-bottom {
  bottom: 0px;
  -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.3s
    infinite;
  animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.3s infinite;
}
.wrapper {
  transform: scale(4, 3);
}
.line6 {
  margin-left: 180px;
  background-color: #42047e;
  -webkit-animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.25s infinite;
  animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.25s infinite;
}
.line6 > span {
  background-color: #07f49e;
}
.line6 > .dotted > .dot {
  background-color: #439cfb;
}
.line6 > .dotted > .dot-top {
  top: 0px;
  -webkit-animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.25s infinite;
  animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.25s infinite;
}
.line6 > .dotted > .dot-bottom {
  bottom: 0px;
  -webkit-animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.25s
    infinite;
  animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.25s infinite;
}
.line6 > .dotted > .dot-middle-top {
  top: 0px;
  -webkit-animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.25s
    infinite;
  animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.25s infinite;
}
.line6 > .dotted > .dot-middle-bottom {
  bottom: 0px;
  -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.25s
    infinite;
  animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.25s infinite;
}
.wrapper {
  transform: scale(4, 4);
}
.line5 {
  margin-left: 100px;
  background-color: #b2ef91;
  -webkit-animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.2s infinite;
  animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.2s infinite;
}
.line5 > span {
  background-color: #ff8989;
}
.line5 > .dotted > .dot {
  background-color: #ff8989;
}
.line5 > .dotted > .dot-top {
  top: 0px;
  -webkit-animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.2s infinite;
  animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.2s infinite;
}
.line5 > .dotted > .dot-bottom {
  bottom: 0px;
  -webkit-animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.2s infinite;
  animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.2s infinite;
}
.line5 > .dotted > .dot-middle-top {
  top: 0px;
  -webkit-animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.2s
    infinite;
  animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.2s infinite;
}
.line5 > .dotted > .dot-middle-bottom {
  bottom: 0px;
  -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.2s
    infinite;
  animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.2s infinite;
}
.wrapper {
  transform: scale(4, 4);
}
.line4 {
  margin-left: 20px;
  background-color: #ffa585;
  -webkit-animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.15s infinite;
  animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.15s infinite;
}
.line4 > span {
  background-color: #ffeda0;
}
.line4 > .dotted > .dot {
  background-color: #ffeda0;
}
.line4 > .dotted > .dot-top {
  top: 0px;
  -webkit-animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.15s infinite;
  animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.15s infinite;
}
.line4 > .dotted > .dot-bottom {
  bottom: 0px;
  -webkit-animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.15s
    infinite;
  animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.15s infinite;
}
.line4 > .dotted > .dot-middle-top {
  top: 0px;
  -webkit-animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.15s
    infinite;
  animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.15s infinite;
}
.line4 > .dotted > .dot-middle-bottom {
  bottom: 0px;
  -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.15s
    infinite;
  animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.15s infinite;
}
.wrapper {
  transform: scale(4, 4);
}
.line3 {
  margin-left: -40px;
  background-color: #9bafd9;
  -webkit-animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.1s infinite;
  animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.1s infinite;
}
.line3 > span {
  background-color: #103783;
}
.line3 > .dotted > .dot {
  background-color: #fbe9d7;
}
.line3 > .dotted > .dot-top {
  top: 0px;
  -webkit-animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.1s infinite;
  animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.1s infinite;
}
.line3 > .dotted > .dot-bottom {
  bottom: 0px;
  -webkit-animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.1s infinite;
  animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.1s infinite;
}
.line3 > .dotted > .dot-middle-top {
  top: 0px;
  -webkit-animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.1s
    infinite;
  animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.1s infinite;
}
.line3 > .dotted > .dot-middle-bottom {
  bottom: 0px;
  -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.1s
    infinite;
  animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.1s infinite;
}
.wrapper {
  transform: scale(4, 4);
}
.line2 {
  margin-left: -60px;
  background-color: #c5f9d7;
  -webkit-animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.05s infinite;
  animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.05s infinite;
}
.line2 > span {
  background-color: #f7d486;
}
.line2 > .dotted > .dot {
  background-color: #f27a7d;
}
.line2 > .dotted > .dot-top {
  top: 0px;
  -webkit-animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.05s infinite;
  animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.05s infinite;
}
.line2 > .dotted > .dot-bottom {
  bottom: 0px;
  -webkit-animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.05s
    infinite;
  animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.05s infinite;
}
.line2 > .dotted > .dot-middle-top {
  top: 0px;
  -webkit-animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.05s
    infinite;
  animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.05s infinite;
}
.line2 > .dotted > .dot-middle-bottom {
  bottom: 0px;
  -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.05s
    infinite;
  animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.05s infinite;
}
/* } */
@media (max-width: 1400px) {
  .line9 {
    visibility: hidden;
  }
}
@media (max-width: 1250px) {
  .line9 {
    visibility: hidden;
  }
  .line8 {
    visibility: hidden;
  }
}

@media (max-width: 1100px) {
  .line9 {
    visibility: hidden;
  }
  .line8 {
    visibility: hidden;
  }
  .line7 {
    visibility: hidden;
  }
}

@media (max-width: 950px) {
  .line9 {
    visibility: hidden;
  }
  .line8 {
    visibility: hidden;
  }
  .line7 {
    visibility: hidden;
  }
  .line6 {
    visibility: hidden;
  }
}

@media (max-width: 800px) {
  .line9 {
    visibility: hidden;
  }
  .line8 {
    visibility: hidden;
  }
  .line7 {
    visibility: hidden;
  }
  .line6 {
    visibility: hidden;
  }
  .line5 {
    visibility: hidden;
  }
}

@media (max-width: 700px) {
  .line9 {
    visibility: hidden;
  }
  .line8 {
    visibility: hidden;
  }
  .line7 {
    visibility: hidden;
  }
  .line6 {
    visibility: hidden;
  }
  .line5 {
    visibility: hidden;
  }
  .line4 {
    visibility: hidden;
  }
}

@media (max-width: 600px) {
  .line9 {
    visibility: hidden;
  }
  .line8 {
    visibility: hidden;
  }
  .line7 {
    visibility: hidden;
  }
  .line6 {
    visibility: hidden;
  }
  .line5 {
    visibility: hidden;
  }
  .line4 {
    visibility: hidden;
  }
  .line3 {
    visibility: hidden;
  }
}

@media (max-width: 500px) {
  .line9 {
    visibility: hidden;
  }
  .line8 {
    visibility: hidden;
  }
  .line7 {
    visibility: hidden;
  }
  .line6 {
    visibility: hidden;
  }
  .line5 {
    visibility: hidden;
  }
  .line4 {
    visibility: hidden;
  }
  .line3 {
    visibility: hidden;
  }
  .line2 {
    visibility: hidden;
  }
}
